@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Handlee&family=Krona+One&display=swap");

@import "tailwindcss";

@import "tw-animate-css";
@source "../../../packages/ui/src/**/*.{tsx}";

:root {
  --canvas-bg: #300b43;
  --primary: #a2d2ff;
  --primary-700: #c8e4ff;
  --secondary: #bde0fe;
  --secondary-700: #d3e9fd;
  --accent: #b83a2d;
  --primary-contrast: #000000;
  --secondary-contrast: #131313;
  --global-shadow: #000000;
  --canvas-contrast: #000000;
}

:root[data-theme="terra"] {
  --canvas-bg: #1a1a1a;
  --primary: #4e6851;
  --primary-700: #5c745f;
  --secondary: #dcc9a9;
  --secondary-700: #e0d4c0;
  --text: #000000;
  --accent: #b83a2d;
  --primary-contrast: #051d08;
  --secondary-contrast: #000000;
}
:root[data-theme="punktown"] {
  --canvas-bg: #233d4d;
  --primary: #fe7f3d;
  --primary-700: #fd8a4d;
  --secondary: #fff2df;
  --secondary-700: #fcfbf9;
  --text:;
  --accent: #158853;
  --primary-contrast: #331403;
  --secondary-contrast: #000000;
  --global-shadow: #000000;
}
:root[data-theme="eyeburn"] {
  --canvas-bg: #fafafa;
  --primary: #868686;
  --primary-700: #a5a5a5;
  --secondary: #e7e6e6;
  --secondary-700: #f5f5f5;
  --text: #000000;
  --primary-contrast: #000000;
  --secondary-contrast: #1f1f1f;
  --accent: #b83a2d;
  --global-shadow: #000000;
}
:root[data-theme="batman"] {
  --canvas-bg: #181818;
  --secondary: #3f3f3f;
  --secondary-700: #575757;
  --primary: #e2e2e2;
  --primary-700: #f1f1f1;
  --accent: #ffc321;
  --text: #f7f7f7;
  --primary-contrast: #040405;
  --secondary-contrast: #ffffff;
  --global-shadow: #000000;
}
:root[data-theme="lowsun"] {
  --canvas-bg: #24150f;
  --primary: #85431e;
  --primary-700: #92502a;
  --secondary: #d39858;
  --secondary-700: #eeb06e;
  --accent: #ef4444;
  --text: #000000;
  --primary-contrast: #eeddc6;
  --secondary-contrast: #000000;
  --global-shadow: #150c0c;
}
@theme {
  --shadow-primary: 5px 5px 0px black;
  --shadow-pressed: 2px 2px 0px black;
  --shadow-shinyprimary:
    inset 2px 2px 3px var(--color-primary-700),
    5px 5px var(--color-global-shadow);

  --shadow-shinysecondary:
    inset 2px 2px 3px var(--color-secondary-700),
    3px 3px var(--color-global-shadow);

  --shadow-shinyshadow-pressed: inset 1px 1px var(--color-global-shadow);

  --font-google-sans-code: "Google Sans Code", ui-monospace, monospace;
  --font-krona-one: "Krona One", sans-serif;
  --font-handlee: "Handlee", cursive;
}

@theme inline {
  --color-canvas: var(--canvas-bg);
  --color-primary: var(--primary);
  --color-primary-700: var(--primary-700);
  --color-secondary: var(--secondary);
  --color-secondary-700: var(--secondary-700);
  --color-primary-contrast: var(--primary-contrast);
  --color-secondary-contrast: var(--secondary-contrast);
  --color-accent: var(--accent);
  --color-global-shadow: var(--global-shadow);
  --text-shadow-generic: 6px 6px black;

  /* Custom Easy Diagram colors */
  --color-easy-bg: #1a1044;
  --color-easy-yellow: #ffd658;
  --color-easy-pink: #eda2fd;
  --color-easy-lime: #caf065;
  --color-easy-blue: #0c8ce9;
  --color-easy-purple: #6435e7;
  --color-easy-light-blue: #b0caf8;
  --color-easy-purple-muted: #9681d5;
}
/* @layer components {
  .shadow-primary {
    box-shadow: 5px 5px 0px black;
  }
  .shadow-pressed {
    box-shadow: 2px 2px 0px black;
  }
} */
@layer utilities {
  /* .outline-personal {
    @apply outline outline-black;
  } */
  /* .border-personal {
    @apply border border-black;
  } */
  /* .shadow-primary {
    box-shadow: 5px 5px 0px black;
  }
  .shadow-pressed {
    box-shadow: 2px 2px 0px black;
  } */
  .button-press-active:active {
    @apply relative overflow-clip
    transition-all duration-100 ease-in-out
    shadow-shinyshadow-pressed
    after:content-['']
    after:absolute
    after:inset-0
    after:w-full
    after:h-full
    after:rounded-md
    after:bg-primary
    after:opacity-20;
  }
  .button-press {
    @apply relative overflow-clip
    transition-all duration-100 ease-in-out
    shadow-shinyshadow-pressed
    after:content-['']
    after:absolute
    after:inset-0
    after:w-full
    after:h-full
    after:rounded-md
    after:bg-primary
    after:opacity-20;
  }
}
@keyframes fade {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.loader-path {
  animation: fade 1.2s linear infinite;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out;
}
